<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.0/dist/full.css"
          rel="stylesheet"
          type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" />
    <title>Verify</title>
</head>
<body class="h-screen" style="background-color: #f1f5f9">
    <header>
        <nav class="bg-slate-100">
            <div class="px-10 py-3">
                <img src="./image/logo.jpg" width="150" alt="logo" />
            </div>
        </nav>
    </header>

    <section class="form">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-6 bg-slate-700">
            <div>
                <img src="./image/verify.jpg" class="" alt="verify" />
            </div>
            <div class="px-6 py-5 md:mt-10 lg:mt-10 xl:mt-10">
                <form asp-controller="Home" asp-action="Index">
                    <h2 class="font-bold text-xl mb-5 text-gray-50">
                        Enter your account details
                    </h2>
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2">
                        <div class="form-control w-full max-w-xs mb-3">
                            <label class="label">
                                <span class="label-text text-white-50" style="color:white">Account Number</span>
                            </label>
                            <input type="text" name="AccountNumber"
                                   placeholder="Account number"
                                   class="input input-bordered w-full max-w-xs" required />
                        </div>
                        <div class="form-control w-full max-w-xs mb-3">
                            <label class="label">
                                <span class="label-text text-white-50" style="color:white">Select bank</span>
                            </label>
                       @Html.DropDownList("BankCode", new SelectList(ViewBag.BankDetails, "code","bankName"),"--Select--", new {@class = "select select-bordered w-full max-w-xs"})  
                        </div>
                        <div class="form-control w-full max-w-xs mb-3">
                            <label class="label">
                                <span class="label-text text-white-50" style="color:white">First Name</span>
                            </label>
                            <input type="text" name="Firstname"
                                   placeholder="First name"
                                   class="input input-bordered w-full max-w-xs"  required/>
                        </div>
                        <div class="form-control w-full max-w-xs mb-3">
                            <label class="label">
                                <span class="label-text text-white-50" style="color:white">Last Name</span>
                            </label>
                            <input type="text" name="Lastname"
                                   placeholder="Last name"
                                   class="input input-bordered w-full max-w-xs" required />
                        </div>
                       
                        <div class="mt-3">
                            <button class="btn btn-primary" onclick="showPreloader()" id="verifyBtn">Verify</button>
                        </div>
                    </div>
                </form>
                <br />
                <div class="inline-block h-8 w-8 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] text-neutral-100 motion-reduce:animate-[spin_1.5s_linear_infinite] spinner"
                     role="status" id="idLoading" style="display:none">
                    <span class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Loading...</span>
                </div>
            </div>
        </div>
    </section>

    <footer class="px-10 py-12 bg-slate-100">
        <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4 text-slate-500 text-sm leading-relaxed">
            <div class="flex items-center">
                <img src="./image/logo.jpg" width="150" alt="logo" />
            </div>
            <div>
                Plot PC 12, Churchgate Street, <br />
                Victoria Island Lagos.
            </div>
            <div>
                01 279 2930 <br />
                0700 AllContact <br />
                0700 2442 6682 28
            </div>
            <div>
                <div>aiicontact@aiicoplc.com</div>
               @* <div class="flex justify-between items-center text-slate-900">
                    <div>
                        <a href="#"><img src="/icons/facebook-f.svg" alt="fb" /></a>
                    </div>
                    <div>
                        <a href="#"><img src="/icons/instagram.svg" alt="ig" /></a>
                    </div>
                    <div>
                        <a href="#"><img src="/icons/linkedin.svg" alt="ln" /></a>
                    </div>
                </div>*@
            </div>
        </div>
    </footer>

    @section scripts{

        <script>
            function showPreloader() {
                var preloader = document.getElementById("animate-spin");
                var button = document.getElementById("verifyBtn");

    preloader.classList.remove("hidden");
    button.disabled = true;

    // Perform your long-running task here
    // ...

    preloader.classList.add("hidden");
    button.disabled = false;
  }
</script>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
       
    <script>
            const openModalButton = document.getElementById("verifyBtn");
            $(window).on('click', function () {
                $('#idLoading').show();
        });
    </script>
     
        @if (TempData["delete"] != null)
        {
            var delete = TempData["delete"];
            <script type="text/javascript">
              Swal.fire({
              icon: 'error',
              title: 'Sorry...',
              text: 'Please try again later'
            })
        </script>      
      }

    @if (TempData["save"] != null)
        {
        <script type="text/javascript">
            Swal.fire({
                title: 'Hello!',
                text: 'This is a SweetAlert popup',
                icon: 'success',
                confirmButtonText: 'OK'
            });
        </script>      
      }
     
    }
   

</body>


</html>

